div#flashbang-notification-container {
    position: fixed;
    top: 0;
    left: 50%;
    text-align: center;
    z-index: 2147483647;
}

@keyframes flashbang-anim {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}

div#flashbang-notification {
    position: relative;
    left: -50%;

    text-align: left;
    display: inline-block;

    animation-iteration-count: 1;
    animation-name: flashbang-anim;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-play-state: paused;
    opacity: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13pt;
    line-height: 100%;
    color: white;

    padding: 15px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    background-color: rgba(46, 55, 68, 0.8);
}
